# Django-specific files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Environment variables
.env

# Database
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/
ENV/

# IDEs and editors
.idea/
.vscode/
*.swp

# Static and media files
staticfiles/
media/

# Migrations
**/migrations/*.py
!**/migrations/__init__.py

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pytype
.pytype/

# Pylint
.pylint.d/

# Celery
celerybeat-schedule
celerybeat.pid

# MacOS
*.DS_Store

# Windows
Thumbs.db
ehthumbs.db
*.stackdump

# Pytest
.pytest_cache/
.tox/
